$font-stack: Helvetica, sans-serif;
$background-color: #664E4C;
$primary-color: #664E4C;
$secondary-color: #C1D37F;
$dark-accent: #E2D58B;
$light-accent: #F0E2A3;
$full-accent: #F0E2A3;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
body {
  font: 100% $font-stack;
  color: $background-color;
}
span {
  color: red;
}
